extends ../layout

block content
  div(class="auth")
      form( class="auth-card" method="post" action="/auth/signin")
        h2  Connection
        label Email
        input( type="email" name="email")
        label Password
        input( type="password" name="password")
        if errors
          ul(class="my-2")
            each error in errors
              li(class="auth-error")= error
        div(class="auth-submit")
          input(type="submit" value="Connexion" )