div(class="aside-top")
    img(src=currentUser.avatar  id="image-profile")
    div(class="flex occupied")
        div
                label.switch
                        if currentUser.state=="available"
                                input(type='checkbox' checked)
                        else    
                                input(type='checkbox' )
                        span.slider.round
        a(href="worker/profile")
                h2= currentUser.username 
div(class="aside-bottom")
    ul      
        li(class=("blue"))
                h3 Home
                div(class="bordure-yellow")
        li
                h3 Calls
                div(class="bordure-yellow")
                  
        li          
                h3 Customers
                div(class="bordure-yellow") 
        li   
                h3 Requests
                div(class="bordure-yellow")
        li     
                h3 Reports
                div(class="bordure-yellow")