div(class="aside-top")
    img(src=currentUser.avatar  id="image-profile")
    a(href="worker/profile")
        h2= currentUser.username 
div(class="aside-bottom")
    ul      
        li(class=("blue"))
                h3 Home 
                div(class="bordure-yellow")
                  
        li          
                h3 Customers
                div(class="bordure-yellow") 
        li   
                h3 Requests 
                div(class="bordure-yellow")
        li     
                h3 Reports
                div(class="bordure-yellow")