div(class="MainContent")
    h1=title 
    div(class="homeContent")
        div(class="Warning")
            h1 Alertes
        div(class="otherknow")
        














    //-    include ./table.pug
        