div(class="MainContent")
    h1=title 
    div(class="homeContent")
        div(class="Warning")
            include ../requests/tableRequests

       
        














    //-    include ./table.pug
        