h1=title 
//- div(class="myButton" id="createNewCustomer") Créer un nouveau client

div(class="MainContent")
       
        
                            
                
        














    //-    include ./table.pug
        