nav
  a( class="icon" href="/")
    i(class="fas fa-headset fa-2x")
  div
      if isAuthenticated
          
        ul
          li
            a(href="/auth/signout") Déconnexion
      else
        ul
          li
            a( href="/auth/signin/form") Connexion
          li
            a( href="/workers/signup/form") Inscription
