* {
  box-sizing: border-box;
}

body {
  display: grid;
  grid-template-columns: 0.5fr 2fr 0.75fr;
  grid-template-rows: 50px 50px 50px 100px 1fr;
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body a {
  text-decoration: none;
}
body li {
  list-style: none;
}

nav {
  grid-column: 1 / 4;
  grid-row: 1 /2;
  display: flex;
  justify-content: space-between;
  box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
  background-color: black;
  color: white;
  padding-top: 0.3%;
}
.icon {
  width: 13%;
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}
nav ul {
  display: flex;
}

.homepage {
  grid-column: 1 / 4;
  grid-row: 2 /6;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  background-image: url("../images/homepage.jpg");
  background-repeat: no-repeat;
  background-position: center;
  color: white;
  background-size: 100% 100%;
}
.auth {
  grid-column: 1 / 4;
  grid-row: 2 /6;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../images/homepage.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
}

.auth-card {
  background-color: white;
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
  width: 30%;
  height: 50%;
  align-items: center;
}

.auth-card input {
  width: 50%;
}

.auth-submit {
  margin-top: 5%;
  display: flex;
  justify-content: center;
  width: 100%;
}
/* .auth-submit input {
  width: 40%;
} */

.auth-submit input {
  background-color: #000000;
  cursor: pointer;
  display: inline-block;
  padding: 0.35em 1.2em;
  border: 0.1em solid #ffffff;
  margin: 0 0.3em 0.3em 0;
  border-radius: 0.12em;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  color: #ffffff;
  text-align: center;
  transition: all 0.2s;
}
.auth-submit input:hover {
  color: #000000;
  background-color: #ffffff;
}

.aside-top {
  background-color: purple;
  grid-column: 1 / 2;
  grid-row: 2 /5;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}
.aside-top img {
  width: 70%;
  margin-top: 10%;
  height: 70%;
  border-radius: 50%;
  border: 1px solid black;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
  -o-box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
}
.aside-top a {
  text-decoration: none;
  color: black;
  height: fit-content;
  margin: 0;
  padding: 0;
}

.aside-bottom a {
  text-decoration: none;
  color: black;
}

.aside-bottom ul {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #ffffff;
}
.aside-bottom li {
  border-bottom: 1px solid black;
  width: 100%;
  display: flex;
  cursor: pointer;
}

.aside-bottom h3 {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.bordure-yellow {
  width: 5%;
}
.aside-bottom li:hover .bordure-yellow {
  background-color: violet;
}

.aside-bottom {
  background-color: yellow;
  grid-column: 1 / 2;
  grid-row: 5 /6;
}

.theCenter {
  grid-column: 2 / 4;
  grid-row: 2 /6;
  display: flex;
  flex-direction: column;
}
.theCenter.withcall {
  grid-column: 2 / 3 !important;
}
.theCenter h1 {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.blue {
  background-color: blue;
}

.call {
  background-color: green;
  grid-column: 3 / 4;
  grid-row: 2 / 6;
  visibility: hidden;
  opacity: 0;
  transition: opacity 250ms ease-in, visibility 0ms ease-in 250ms;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.call.show {
  visibility: visible;
  opacity: 1;
  transition: opacity 250ms ease-in, visibility 0ms ease-in 0ms;
}
.Cards {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 25px 0;
}
.Card {
  align-items: center;
  background: #3e4651;
  border-radius: 3px;
  display: flex;
  flex-flow: column;
  padding: 50px 80px;
}

.Card.shaking {
  /* Start the shake animation and make the animation last for 0.5 seconds */
  animation: shake 0.5s;

  /* When the animation is finished, start again */
  animation-iteration-count: infinite;
}

.Card.onCall .Card-imageCallEffect {
  animation: none;
}
.Card.declineCall .Card-imageCallEffect {
  animation: none;
}
@keyframes animationCallLines {
  0% {
    height: 105%;
    opacity: 1;
    width: 105%;
  }
  100% {
    height: 140%;
    opacity: 0;
    width: 140%;
  }
}
.Card-image {
  align-items: center;
  cursor: pointer;
  display: flex;
  justify-content: center;
  margin: 0 0 20px 0;
  position: relative;
}
.Card-imageCallEffect {
  border: 2px solid #727881;
  border-radius: 50%;
  content: "";
  display: block;
  height: 90%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  width: 90%;
}
.Card-imageCallEffect.respond {
  animation: animationCallLines 2s infinite;
}
.Card-imageCallEffect:nth-child(2) {
  animation-delay: 0.8s;
}
.Card-imageCallEffect:nth-child(3) {
  animation-delay: 1.4s;
}
.Card-imageContent {
  align-items: center;
  background: white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  height: 85px;
  overflow: hidden;
  width: 85px;
  z-index: 1;
}
.Card-imageContent img {
  width: 100%;
}
.Card-content {
  align-items: center;
  display: flex;
  flex-flow: column;
}
.Card-content h3 {
  color: #7c858c;
  font-size: 14px;
  margin: 0 0 5px 0;
}
.Card-content h2 {
  color: white;
  font-size: 25px;
  margin: 0 0 12px 0;
}
.Card-content p {
  border: 1px solid #7c858c;
  border-radius: 15px;
  display: inline-block;
  font-size: 13px;
  padding: 5px 10px;
}
.Card-content p span {
  color: white;
}
.Card-actions {
  display: flex;
  justify-content: space-between;
  margin: 30px 0 0 0;
  width: 150px;
}
.Card-action {
  align-items: center;
  display: flex;
  flex-flow: column;
}
.Card-action .Card-actionButton {
  align-items: center;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  height: 60px;
  transform: scale(1);
  transition: transform ease-in 0.15s;
  width: 60px;
}
.Card-action .Card-actionButton:hover {
  transform: scale(1.2);
}
.Card-action .Card-actionButton.Card-actionButton--decline {
  background: red;
}
.Card-action .Card-actionButton.Card-actionButton--accept {
  background: #3498db;
}
.Card-action .Card-actionButton i {
  color: white;
}
.Card-action p {
  color: #7c858c;
  font-size: 11px;
  margin: 8px 0 0 0;
}

.fa-headset {
  height: 100%;
  color: green;
}

.title-center-dashboard {
  display: flex;
  justify-content: center;
  align-items: center;
}

.title-center-dashboard h1 {
  width: 20%;
}

.button {
  box-shadow: inset 0px 1px 0px 0px #f5978e;
  background: linear-gradient(to bottom, #f24537 5%, #c62d1f 100%);
  background-color: #f24537;
  border-radius: 6px;
  border: 1px solid #d02718;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  width: fit-content;
  font-size: 15px;
  font-weight: bold;
  padding: 15px 76px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #810e05;
}
.button:hover {
  background: linear-gradient(to bottom, #c62d1f 5%, #f24537 100%);
  background-color: #c62d1f;
}
.button:active {
  position: relative;
  top: 1px;
}

table {
  border: 1px solid #ccc;
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  width: 100%;
  table-layout: fixed;
}

table caption {
  font-size: 1.5em;
  margin: 0.5em 0 0.75em;
}

table tr {
  background-color: #f8f8f8;
  border: 1px solid #ddd;
  padding: 0.35em;
}

table th,
table td {
  padding: 0.625em;
  text-align: center;
}

table th {
  font-size: 0.85em;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

@media screen and (max-width: 600px) {
  table {
    border: 0;
  }

  table caption {
    font-size: 1.3em;
  }

  table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }

  table tr {
    border-bottom: 3px solid #ddd;
    display: block;
    margin-bottom: 0.625em;
  }

  table td {
    border-bottom: 1px solid #ddd;
    display: block;
    font-size: 0.8em;
    text-align: right;
  }

  table td::before {
    /*
    * aria-label has no advantage, it won't be read inside a table
    content: attr(aria-label);
    */
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
  }

  table td:last-child {
    border-bottom: 0;
  }
}

.form-style-7 {
  max-width: 400px;
  margin: 50px auto;
  background: #fff;
  border-radius: 2px;
  padding: 20px;
  font-family: Georgia, "Times New Roman", Times, serif;
}
.form-style-7 h1 {
  display: block;
  text-align: center;
  padding: 0;
  margin: 0px 0px 20px 0px;
  color: #5c5c5c;
  font-size: x-large;
}
.form-style-7 ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.form-style-7 li {
  display: block;
  padding: 9px;
  border: 1px solid #dddddd;
  margin-bottom: 30px;
  border-radius: 3px;
}
.form-style-7 li:last-child {
  border: none;
  margin-bottom: 0px;
  text-align: center;
}
.form-style-7 li > label {
  display: block;
  float: left;
  margin-top: -19px;
  background: #ffffff;
  height: 14px;
  padding: 2px 5px 2px 5px;
  color: #b9b9b9;
  font-size: 14px;
  overflow: hidden;
  font-family: Arial, Helvetica, sans-serif;
}
.form-style-7 input[type="text"],
.form-style-7 input[type="date"],
.form-style-7 input[type="datetime"],
.form-style-7 input[type="email"],
.form-style-7 input[type="number"],
.form-style-7 input[type="search"],
.form-style-7 input[type="time"],
.form-style-7 input[type="url"],
.form-style-7 input[type="password"],
.form-style-7 textarea,
.form-style-7 select {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  width: 100%;
  display: block;
  outline: none;
  border: none;
  height: 25px;
  line-height: 25px;
  font-size: 16px;
  padding: 0;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.form-style-7 li > span {
  background: #f3f3f3;
  display: block;
  padding: 3px;
  margin: 0 -9px -9px -9px;
  text-align: center;
  color: #c0c0c0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 11px;
}
.form-style-7 textarea {
  resize: none;
}
.form-style-7 input[type="submit"],
.form-style-7 input[type="button"] {
  background: #2471ff;
  border: none;
  padding: 10px 20px 10px 20px;
  border-bottom: 3px solid #5994ff;
  border-radius: 3px;
  color: #d2e2ff;
}
.form-style-7 input[type="submit"]:hover,
.form-style-7 input[type="button"]:hover {
  background: #6b9fff;
  color: #fff;
}

.MainContent {
  border: #000000 solid 1px;
  flex: 1;
}

.formError {
  width: 100%;
  display: flex;
  justify-content: center;

  color: red;
}
.imgAvatar {
  width: 30%;
  height: 30px;
}

.MainContent {
  display: flex;
  flex-direction: column;
}

.pagination {
  display: flex;
  justify-content: center;
}
.pagination-container {
  padding: 10px 0;
  border-radius: 8px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #fff;
  display: inline-flex;
  position: relative;
  overflow: hidden;
}
.pagination-hover-overlay {
  background-color: #00c1dd;
  width: 50px;
  height: 50px;
  border-radius: 5px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  transition-duration: 0.5s;
  left: 60px;
  opacity: 0;
}
.pagination .icon-pagination {
  color: rgba(51, 61, 69, 0.5);
  font-size: 11px;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 3;
  background-color: #fff;
}
.pagination-prev {
  margin-right: 15px;
  margin-left: 10px;
}
.pagination-prev .icon-pagination-prev {
  transform: rotate(0deg);
}
.pagination-next {
  margin-left: 15px;
  margin-right: 10px;
}
.pagination-next .icon-pagination-next {
  transform: rotate(180deg);
}
.pagination-page-number {
  border-radius: 5px;
  color: #333d45;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition-duration: 0.5s;
  position: relative;
  z-index: 2;
  font-weight: 700;
  font-size: 18px;
}
.pagination-page-number:hover {
  color: #fff;
}
.pagination-page-number.active {
  color: #fff;
}

.tab {
  display: flex;
  flex-direction: column;
  justify-items: space-between;
}

.buttonIs {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  padding-bottom: 3%;
}
.buttonIs button {
  margin: 2%;
}

#customerNameProfile {
  cursor: pointer;
}

.profileCustomer {
  display: flex;
  flex-direction: column;
}
.titreprofileCustomer {
  display: flex;
  width: 100%;
  height: 20vh;
  align-items: center;
  justify-content: flex-start;
  background-color: red;
}
.titreprofileCustomer img {
  margin-right: 5%;
  margin-left: 5%;
  width: 10%;

  height: 35%;
  border-radius: 50%;
  border: 1px solid black;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
  -o-box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
  background-color: red;
}

.contentprofileCustomer {
  display: flex;

  flex: 1;
}

.contentprofileCustomer div {
  width: 100%;
}

.requestprofileCustomer {
  background-color: blue;
  display: flex;
  flex-direction: column;
}

.requestprofileCustomer table {
  font-size: small;
}
.reportprofileCustomer table {
  font-size: small;
}
.reportprofileCustomer {
  background-color: #333d45;
}

.detailprofileCustomer {
  border: #000000 solid 3px;
  padding: auto;
  width: fit-content;
  background-color: #00c1dd;
  display: flex;
}

.detailprofileCustomer h2 {
  padding: 5%;
}

.dot {
  height: 25px;
  width: 25px;
  border-radius: 50%;
  display: inline-block;
}

.homeContent {
  display: flex;
  height: 100%;
}

.homeContent div {
  width: 100%;
  height: 100%;
}

.Warning {
  background-color: #810e05;
}
.Warning h1 {
  width: 100%;
  border-bottom: #000000 solid 2px;
}
#consult {
  cursor: pointer;
}

#consult:hover {
  color: red;
}

.requestProfile {
  height: 35%;
  background-color: green;
  display: flex;
}

.leftRequestProfile {
  width: 50%;
  display: flex;
  height: 100%;
  background-color: #000000;
  flex-direction: column;
}

.upLeftRequestProfile {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  height: 30%;
  width: 100%;
  background-color: purple;
}

.downLeftRequestProfile {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 70%;
  width: 100%;
  background-color: orange;
}

.rightRequestProfile {
  background-color: #00c1dd;
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.reportProfile {
  background-color: green;
  height: 30%;
  display: flex;
  flex-direction: column;
}
.customerReportProfile {
  width: 100%;
  height: 20%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: purple;
}
.contentReportProfile {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60%;
  background-color: blue;
}

.authorReportProfile {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 20%;
  background-color: yellow;
}

.modal {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  justify-content: center;
  align-items: center;
  z-index: 10000;
  display: none;
}

.modal.active {
  display: flex;
}

.modal-wrapper {
  background-color: white;
  margin: 0;
  padding: 0;
  height: 40%;
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
  border-radius: 50px;
}
.modal-wrapper h1 {
  background-color: red;
}
.modal-wrapper p {
  background-color: blue;
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  font-size: large;
}

.modal-wrapper div {
  background-color: purple;
  height: fit-content;
}

.titre-modal {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.fa-times-circle {
  color: red;
  cursor: pointer;
}

.titleTab {
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: center;
}
