extends ../layout.pug

block content           
    include ../includes/modal.pug
    include ../includes/alert.pug
    include  ../includes/aside.pug 
    div(class="theCenter")
        include  ../includes/center.pug
    include ../includes/right-call.pug
    