div(class="modal" )
    div(class="modal-wrapper")
        div(class="titre-modal")
            h1 Etes vous sure de votre choix ?
            i(class="far fa-2x fa-times-circle")
        p le client iuefhjzroij  est moyen irremediable bla bla bla
        div(class="buttonIs")
                button(class="button "  id="canceModal")    Annuler
                button(class="button "    id="ValidModal")   Confirmer
            
