.aside {
  background: #00559a;
  width: 0px;
  color: white;
  transition: width 0.7s;
  display: flex;
  flex-direction: column;
}

.opened {
  width: 240px;
}

.tab {
  border-bottom: 0.2px solid white;
  width: 100%;
  height: 8vh;
  color: white;
  cursor: pointer;

  display: flex;
}

.tab a {
  height: 100%;
  width: 100%;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  font-size: 21px;
  font-weight: 700;
}
.tab a.active {
  background-color: red;
}

.tab a:hover {
  background-color: red;
}

.tab a {
  color: white;
}
