.call-right {
  background: #00559a;
  width: 0px;
  transition: width 0.7s;
  display: flex;
  flex-direction: column;
  color: white;
  z-index: 1000;
  align-items: center;

  visibility: hidden;
}

.call-right > img {
  width: 40%;
}
.call-right > h1 {
  font-size: 17px;
  margin-top: 5%;
}
.call-right a {
  text-decoration: none;
  color: white;
  cursor: pointer;
  margin-bottom: 3%;
}
.call-right a:hover {
  text-decoration: underline;
}
.call-right svg:hover {
  transform: scale(1.05);
}

.opened-call {
  width: 350px;
  visibility: visible;
}

.link-call {
  width: 100%;
  display: flex;
  justify-content: space-around;
}
