.modal {
  overflow-x: hidden;
  overflow-y: auto;
}

/* _modal.scss:18 */
.modal {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10000;
}

.modal-wrapper {
  background-color: white;
  margin: 0;
  padding: 0;
  height: 40%;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
}

.modal-wrapper > button {
 width: 40%;
 height: 80px;
 border-radius: 5px;
 cursor: pointer;
 margin-bottom: 5%;
 align-self: center;
}
.modal-wrapper > button:hover {
 transform: scale(1.05);
 }
.modal-header {
  display: flex;
 
  align-items: flex-start;
}
.modal-header button {
  height: 50%;
  border-radius: 5px;
  border: none;
  cursor: pointer;

}
.modal-header button:hover {
 transform: scale(1.01);

}

.modal-title {
  display: flex;
  width: 98%;
  justify-content: center;
}

.modal-body{
 display: flex;
 align-items: center;
padding: 5%;
font-size: 17px;
  height: 80%;
}