.navbar {
  height: 10vh;
  box-shadow: 0 0.125rem 0.25rem 0 rgb(0 0 0 / 11%);
  box-sizing: border-box;
  background-color: #00559a;
  width: 100%;
  list-style: none;
  display: flex;
  align-items: center;

  text-decoration: none;
  color: white;
}

.navbar a {
  text-decoration: none;
  font-size: 21px;
  color: white;
  font-weight: bold;
}
.navbar a:hover {
  text-decoration: underline;
}
.icon {
  padding: 10px;
}

.icon:hover {
  cursor: pointer;
}
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider.not-occupied {
  background-color: #2cfa1f;
}

input:focus + .slider.not-occupied {
  box-shadow: 0 0 1px #2cfa1f;
}

input:checked + .slider.occupied {
  background-color: orange;
}

input:focus + .slider.occupied {
  box-shadow: 0 0 1px orange;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.navbar button {
  background-color: red;
  border-radius: 5px;
  height: 6vh;
  color: white;
  font-size: larger;
  border-color: none;
  cursor: pointer;
}

.navbar button:hover {
  transform: scale(1.05);
}

.end-navbar {
  flex: 1;
  justify-content: flex-end;
  display: flex;

  align-items: center;
  height: 100%;
}

.end-navbar * {
  margin-right: 2%;
}
