.form-request {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

.form-request form {
  display: flex;

  flex-direction: column;
  width: 50%;
}
.form-request form > * {
  margin-bottom: 2%;
}

.form-request form > button {
  width: 20%;
  border-radius: 5px;
  cursor: pointer;
  border: none;
  height: 45px;
  align-self: center;
  background-color: red;
  color: white;
}

.form-request form > input {
  height: 50px;
}

.form-request form > select {
  width: 50%;
  align-self: center;
  height: 50px;
}
.form-request form > textarea {
  height: 200px;
}

.form-request form > button:hover {
  transform: scale(1.02);
}
