h1 Créer un nouveau #{titleForm}
div.form-style-7
<input id="prodId" name="prodId" type="hidden" value="xm234jq">
     ul  
        li
            input(type='hidden' name='request'  value=selectedRequest._id)
        li
            label message 
            input(type='textarea' name='message' )    
       
        input( id="sendNew" type='submit' value='Créer')
p(class="formError")



